:root {
    --my_gray: #E5E7EB;
    --my_light_blue: #3882F6;
    --my_dark_blue: #1F2937;
    --my_white: #F9FAF8;
}

html {
    margin: 0;
    padding: 0;
    border-style: none;
    font-size: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

button:single-button {
    border-style: none;
}

a:link {
    color: var(--my_white, white);
    text-decoration: none;
}

header {
    height: 20%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-family: roboto;
    font-size: 1rem;
}

h1 {
    font-size: 3rem; 
    font-style: extra-bold;
    color: var(--my_white, white);
}

h2 {
    font-size: 2rem; 
    font-style: extra-bold;
    color: var(--my_dark_blue, blue);
}

h3 {
    font-size: 1.5rem;
    color: var(--my_white, white);
}

.big-section {
    padding-left: 18%;
    padding-right: 18%;
}

.dark-blue {
    background-color: var(--my_dark_blue, blue);
    color: var(--my_white, white);
}

#logo {
    width: auto;
    font-weight: bold;
}

.header-container-1 {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    min-width: 10%;
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    gap: 8%;
}

.hero-text-container {
    flex: 1;
    font-size: 1.2rem;
    color: var(--my_gray);
}

#header-pic {
    padding: 2.5rem 1rem;
    flex: 1;
    min-width: 4rem;
    width: 15rem;
    min-height: 1rem;
    height: 19rem;
    object-fit: cover;
}

.header-links a {
    padding: 0.4rem;
}

.header-sign-up {
    color: var(--my_white, white);
    background-color: var(--my_light_blue, #3882F6);
    border-radius: 1.5px;
    border-style: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0;
    padding: 0.1rem 1.5rem;
}

.random-examples {
    height: 28rem;
}

#random-sentence {
    padding: 6%;
    text-align: center;
    margin: 0.1rem;
}

.example-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 80%;
    margin: 0% 10%;
}

.example-items {
    width: 2px;
    height: 65px;
    flex: 1;
    margin: 0 1rem;
} 

.example-img {
    border-color: var(--my_light_blue, #3882F6);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit:scale-down;
}


.quote-section {
    background-color: var(--my_gray);
    height: 22rem;
}

.quote-container {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
}

#quote {
    font-size: 1.7rem;
    font-style: italic;
}

#author {
    padding-top: 0.2rem;
    align-self: flex-end;
    font-weight: bold;
}

.call-to-action {
    height: 20vh;
}

.call-container {
    color: var(--my_white, white);
    display: flex;
    flex-direction: row;
    background-color: var(--my_light_blue, #3882F6);
    border-radius: 5px;
    padding: 1rem 4rem;
    margin: 9.5% 0;
    height: 30%;
}

.call-text {
    display: flex;
    flex-direction: column;
    flex:5;
}

#call-to-sign-up {
    color: var(--my_white, white);
    background-color: var(--my_light_blue, #3882F6);
    border-radius: 4px;
    border-width: 0.8px;
    border-style: solid;
    border-color: var(--my_white, white);
    flex: 1;
    align-self: center;
    font-size: 1rem;
    margin: 2rem 0;
    padding: 0.1rem 0.3 rem;
}

footer {
    height: 5vh;
    text-align: center;
}